*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;                 /* remove nderline from ancher tag*/
}
body{
   
    background: #dfb408;
    font-family: monospace;
    place-items: center;                    
    
}  
/*------------------nav bar----------------*/
header{
        
    width: 100%;
    height: 80px;

    background-color: rgba(17, 16, 16, 0.868);
    color: rgba(36, 31, 31, 0.95);
    display: flex;
    align-items: center;
   position: fixed;
   transition: 0.6s;
   
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   top: 0%;
   animation: anim4 2s forwards 2.5s;
   z-index: 999;


}
header .logo1{
             position: relative;
              height: 75px;
         margin-left: 20px;
          transition: 0.6s;

}

  /* .container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: -100%;
    animation: anim4 2s forwards 2.5s;
}*/
 


.list-item{
    display: none;
}

 
 ul li{
    position: relative;
  list-style: none;
  display: inline;
  margin-right: 20px;
}
 ul  li a{
   
    color: rgba(0, 0, 0, 0.863);
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px 5px;
    border-radius: 4px;
}

a.active:hover{
    background:  rgba(0, 0, 0, 0.114);

}
a#About{
    background: rgba(0, 0, 0, 0.543);


}
.icon{
    width: 35px;
    height: 4px;
    background-color: rgba(232, 222, 222, 0.936);
    margin: 4px 0;
}
.menu-icon{
    cursor: pointer;
    display: block;
    position: relative;
    display: flex;
    
    flex-direction: column;

    align-items: end;
    margin-top: 15px;
    padding: 20px;
   

}
@media only screen and (min-width: 748px) 
{   
    
  
    
    .menu-icon{
        display: none;
    }
    .list-item{
        display: block;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
   

}

header ul li a{
    color: rgba(255, 255, 255, 0.751);
}


/*-------------------main content---------------*/

.sect1{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
   
    
}
.sect1 .box1{
        width: 50vw;
        height: 90vh;
        margin-top: 6%;
        padding: 70px;
        h1{
            font: bold;
          font-size: 40px;
          text-align: center;
        }
        p{
            margin-top: 5%;
            font-size: large;
           line-height: 1.8;
        }
}

.sect1 .box2
{
    width: 50vw;
    height: 90vh;
    background-image: url(images/Quay-About-Carousel\ \(1\).jpg);
    margin-top: 5%;
    background-size: cover;

 }
 
 
    .sect1 .box1{

        padding-top: 5%;
        animation: appear  linear;
        animation-timeline: view();
        animation-range: entry 0;
      }
      @keyframes appear {
        from{
            opacity: 0;
            scale: 0.5;
        }
        to{
            opacity: 1;
            scale: 1;
        }
        
      }
      html{
        scroll-behavior: smooth;
      }
      .sect2{
        width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;

    
      }
    .sect2 .box1{
        width: 50vw;
    height: 90vh;
    background-image: url(images/Quay-Meet-The-Team-Nikki-To-1500x1000-1.jpg);
    margin-top: 3%;
    background-size: cover;

        
    }
    .sect2 .box2{
        width: 50vw;
        height: 90vh;
        margin-top: 9%;
        padding: 70px;
        h1{
            font: bold;
          font-size: 40px;
          text-align: center;
        }
        p{
            margin-top: 5%;
            font-size: large;
           line-height: 1.8;
        }

    
        padding-top: 5%;
        animation: appear  linear;
        animation-timeline: view();
        animation-range: entry 0;
      }
      @keyframes appear {
        from{
            opacity: 0;
            scale: 0.5;
        }
        to{
            opacity: 1;
            scale: 1;
        }
        
      }
      html{
        scroll-behavior: smooth;
      }

      @media only screen and (max-width: 1066px){
          
        .sect1{
            width: 100vw;
            height: 1000px;
            display: flex;
            flex-direction: column-reverse;
            .box1{
                width: 100vw;
                height: 50%;
                margin-top: 2%;
                padding: 10px;
                padding-bottom: 15px;
                margin-bottom: 15px;
                h1{
                    font: bold;
                  font-size: 30px;
                  text-align: center;
                }
                p{
                    margin-top: 2%;
                    font-size: medium;
                   line-height: 1.4;
                }
               
                
            }
            .box2{
                width: 100vw;
                height: 60vh;
                margin-top: 5%;
               
            }
            }

            .sect2{
                flex-direction: column;
                 background: no-repeat;
                 background-size: auto;
                 height: auto;
                 .box2{
                    width: 100vw;
                    height: 50 vh;
                    margin-top: 0%;
                    padding: 5px;
                    
                    h1{ 
                        margin-top: 0;
                        font: bold;
                      font-size: 30px;
                      text-align: center;
                    }
                    p{
                        margin-top: 2%;
                        font-size: medium;
                       line-height: 1.4;
                    }
                }
                    .box1{
                        width: 100vw;
                        height: 50vh;
                        margin-top: 0;
                        
                        background-size: cover;
                        
                    }
                }
            }
      

            /* ---------------footer--------------------*/
            .container{
                max-width: 1170px;
                margin:auto;
            }
            .row{
                display: flex;
                flex-wrap: wrap;
            }
            ul{
                list-style: none;
            }
            .footer{
                background-color: #e67e07;
                padding: 70px 0;
            }
            .footer-col{
               width: 25%;
               padding: 0 15px;
            }
            .footer-col h4{
                font-size: 18px;
                color: #2d0202;
                text-transform: capitalize;
                margin-bottom: 35px;
                font-weight: 500;
                position: relative;
            }
            .footer-col h4::before{
                content: '';
                position: absolute;
                left:0;
                bottom: -10px;
                background-color: #13050a;
                height: 2px;
                box-sizing: border-box;
                width: 50px;
            }
            .footer-col ul li:not(:last-child){
                margin-bottom: 10px;
            }
            .footer-col ul li a{
                font-size: 16px;
                text-transform: capitalize;
                color: #762121;
                text-decoration: none;
                font-weight: 300;
                color: #762121;
                display: block;
                transition: all 0.3s ease;
            }
            .footer-col ul li a:hover{
                color: #ffffff;
                padding-left: 8px;
            }
            .footer-col .social-links a{
                display: inline-block;
                height: 40px;
                width: 40px;
                background-color: #76212177;;
                
                
                margin:0 10px 10px 0;
                text-align: center;
                line-height: 40px;
                border-radius: 50%;
                color: #ffffff;
                transition: all 0.5s ease;
            }
            .footer-col .social-links a:hover{
                color:  #7621219c;
                background-color: #ab4f4f34;
            }
            #f1{
                h1{
                    color: #2d0202;
                }
                p{
                    color:  #762121;;
                }
            }
            
            /*responsive*/
            @media(max-width: 767px){
              .footer-col{
                width: 50%;
                margin-bottom: 30px;
            }
            }
            @media(max-width: 574px){
              .footer-col{
                width: 100%;
            }
            }
            
            
            
            
            

      
    
